/* Polices. */

@font-face
{
  font-family: 'Comme-ExtraLight';
  src: url('polices/Comme-ExtraLight.eot');
  src: url('polices/Comme-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('polices/Comme-ExtraLight.woff') format('woff'),
       url('polices/Comme-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Comme-Medium';
  src: url('polices/Comme-Medium.eot');
  src: url('polices/Comme-Medium.eot?#iefix') format('embedded-opentype'),
       url('polices/Comme-Medium.woff') format('woff'),
       url('polices/Comme-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Comme-Regular';
  src: url('polices/Comme-Regular.eot');
  src: url('polices/Comme-Regular.eot?#iefix') format('embedded-opentype'),
       url('polices/Comme-Regular.woff') format('woff'),
       url('polices/Comme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: 'Comme-Light';
  src: url('polices/Comme-Light.eot');
  src: url('polices/Comme-Light.eot?#iefix') format('embedded-opentype'),
       url('polices/Comme-Light.woff') format('woff'),
       url('polices/Comme-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Header. */

.returnBtn {
    color: #00b600;
    background-color: #0c1d12;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px #00b600 solid;
    width: 5%;
    box-shadow: 2px 2px 2px #0c1d12;
}

header
{
  top: 0;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
}

.logo
{
  font-family: 'Comme-Regular', serif;
  font-size: 2.5em;
  color: white;
}

/* Navigation. */

nav
{
  font-family: 'Comme-Light', Arial, sans-serif;
  background-color: #0f5a9a;
}

nav ul
{
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a
{
  font-size: 1.3em;
  color: white;
  text-decoration: none;
}

nav a:hover
{
  color: #e68d0e;
  transition-duration: 0.4s;
}

/* Question. */

#question
{
  text-align: center;
  margin: 20%;
}

.question
{
  font-size: 2em;
  font-family: 'Comme-Medium', Arial, sans-serif;
  color: #e68d0e;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px black;
  border-radius: 5px;
}

.answer
{
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: #e68d0e;
  padding: 15px, 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Comme-Regular', Arial, sans-serif;
  font-size: 1.5em;
  margin: 15px;
  box-shadow: 0px 2px 5px black;
  border-radius: 5px;
  padding: 5px;
}

/* Concept. */

#concept
{
  margin-top: 25%;
}

.concept
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  margin-bottom: 25%;
}

.debat, .etudie, .actualites
{
  text-align: justify;
  max-width: 25%;
}

/* Input. */

input[type=text]
{
  text-align: center;
  border: none;
  border-bottom: 2px solid #9F9F9F;
  background-color: #CCCCCC;
  padding: 12px 20px;
  width: 45%;
}

input[type=text]:hover
{
  border-bottom: 2px solid black;
  transition-duration: 0.4s;
}

input[type=text]:focus
{
  border-bottom: 2px solid black;
}

.input
{
  text-align: center;
  margin: 25%;
}

.envoyer
{
  font-family: 'Comme-Medium', Arial, sans-serif;
  font-size: 1.5em;
  border: none;
  background-color: #CCCCCC;
}

/* General. */

h2
{
  text-align: center;
  font-family: 'Comme-Medium', Arial, sans-serif;
}

h3
{
  text-align: center;
  font-family: 'Comme-Light', Arial, sans-serif;
}

p
{
  font-family: 'Comme-Regular', Arial, sans-serif;
}

body
{
  background-color: #CCCCCC;
}
